

/* .chouse {
    width: 100%;
    min-height: 90vh;
}


.container {
    display: flex;
    justify-content: space-between;
    align-items:flex-start
}

.c-title {
    padding-top: 102px;
    font-size: 3rem;
    font-weight: 800;
} */




.Featchers {
    padding : 60px 0;
    min-height: 100vh;
}


.T-Featchers {
    text-align: center;
    /* padding-top: 40px; */
    /* padding-bottom: 50px; */
    font-size: 50px;
    font-weight: 800;
}

.feather-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    margin-top: 100px;
    padding-top: 100px;
    margin-left: 100px;
    
}

.col1 , .col2 {
   padding-top: 100px;
   padding-right: 100px;
   
} 


.feat {
    display: flex;
    margin-bottom: 40px;

}


.feat i {
    color: var( --main-color); 
    flex-basis: 60px;
    font-size: 30px;
}



.Feat-text {
    display: flex;
    flex-direction: column;
    flex: 1;

} 


.Feat-text  h4 {
    font-size: 20px;
    font-weight: 800;
    margin: 0 0 20px; 

    /* margin-bottom: 40px; */
    /* padding-left: 30px; */
} 


.Feat-text  p {
    color: #888;
    /* margin-bottom: 20px;
    padding-left: 30px; */
    line-height: 1.8;
} 

.Feat-image {
    text-align: center;
    position: relative;
} 

/* .Feat-image::before {
    content: "";
    background-color: var(--Sec-color);
    position: absolute;
    top: -50px;
    right: 0;
    width: 80px;
    height: calc(100% + 100px);
    z-index: -1; 
} */



.Feat-image img  {
    /* width: 300px;
    height: 300px; */ 
    /* width: 300px;
    height: 300px; */
    
} 




/* // _____________   QUERY________________________// */ 


@media (max-width :1200px) {
    .Feat-image {
        display: none;
    }  

    .feather-content {
       
        margin-top: 60px;
        /* padding-top: 0; */
        /* margin-right: 108px; */
        /* padding-right: 22%; */
      position: relative;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
        /* padding-left: ; */
        min-width: 50%; 
    } 

    .feat {
       
     display: flex;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid gray;
    min-width: 100%;
    flex-direction: column;
    padding: 20px;
    } 

    .col1 , .col2  {
    position: relative;
    right: 10%;
    }
}


@media (max-width :600px) {
     .feat {
        padding: 10px;
        min-width: 100%;
    } 

     /* .feat i {
        font-size: 30px;
    } */

    .feat h4 {
        font-size: 20px;
    } 
    .col1 , .col2  {
        padding-right: 100px;
        } 

        .Feat-text  p {
            color: #888;
            /* margin-bottom: 20px;
            padding-left: 30px; */
            line-height: 1;
            padding: 10px;
            font-size: 20px;
        } 
      
}




    