.qty {
    width: 10%;
}


.table {
    border-right: 6px solid #0F1E3F ; 
    transition: 2s ;
   width: 100%;
}

.table:hover {
    background-color: #0F1E3F ;
    color: #fff
}

h3 {
    margin-left: 47px;
}

.false {
 color: #fff; 
}

