.qty {
    /* width: 40%; */
}


.table {
    border-right: 6px solid  var(--Sec-color); 
    transition: 10ms ;
    padding: 10px;
}

.table:hover {
    background-color:  var(--Sec-color);
    color: white;
}