

/* .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* margin: 5%; */
    /* padding-bottom: 50px; */
/* } */ */

 .producet-title {
    text-align: center;
    margin-bottom: 100px;
}


/* Query  */

@media screen and (max-width: 767px) {
    .producet-title {
        font-size: 2.5rem;
       margin: 50px 0;
    }
}