.cart-icon   {
    font-size: 24px; 
    display: flex;
    align-items: center;
   position: relative;
   right: 10%;
}

.cart-icon span { 
    font-size: 12px;
    position: absolute;
    bottom: 80%;
    left: 27px;
}



@media all and (min-width: 500px) and (max-width: 991px) { 

    .shoping-cart {
        position: absolute;
        top: 17px;
        right: 20px; 
        color: black;
    }
    
    .cart-icon span { 
        font-size: 12px;
        position: absolute;
        bottom: 40px;
        left: 30px;
    }
    
} 



