#cart-icon   {
    font-size: 24px; 
   
}

#cart-icon span { 
    font-size: 12px;
    position: absolute;
    top: 5px;
    right: 5px;
}

.shoping-cart {
    position: absolute;
    top: 24px;
    right: 20px; 
    color: black;
}