
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&display=swap');


.navbar-nav {
    font-size: 1.5em;
    font-family: 'Maven Pro', sans-serif;
    /* margin-right: 10%; */
}

.list {
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* text-align: center; */
}


.nav-item {
    /* transition: 4ms;  */
    padding: 10px; 
    margin-left: 60px;
} 

.navbar-nav {
    font-size: 1.5em;
    font-family: 'Maven Pro', sans-serif;
    margin-right: 5%;
}


.nav-Link {
    transition: 0.8s;
}


@media (max-width: 995px) {
    .nav-link:hover {
        padding-left: 10px;
    }
       
    .nav-item {
        /* transition: 4ms;  */
        padding-bottom: 10px; 
        /* margin-left: 90px; */
    } 
}