.qty {
    width: 20%;
   /* min-height: 50px; */
   font-size: 20px;
}


.table {
    border-right: 6px solid #0F1E3F ; 
    transition: 2s ease-in-out ;
     width: 100%;
}

.table:hover {
    background-color: #0F1E3F ;
    color: #fff
}

h3 {
    margin-left: 47px;
}

.false {
 color: #fff; 
}


  /* ==query== */


  @media screen and (max-width: 500px) {
   
    .qty{
        width: 100%;
       
    }
    .table{
      width: 120%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }