footer {
  flex: 1;
  display: flex;
  min-height: 40vh;
  margin-top: 170px;
}

.Site-logo {
  font-size: 25px;
  font-weight: 800;
}

.footer-content {
  padding: 5rem 0;
  background-color: #0f1e3f;
  margin-top: 200px;
}
.footer-link a {
  text-decoration: none;
  color: #fff !important;
}

.btn-footer {
  border-radius: 30px;
  border: none;
  padding: 10px 20px;
  color: #fff;
  background-color: #000000 !important;
  font-size: 16px;
  font-weight: 400;
  width: auto;
  letter-spacing: 2px;
}

.btn-footer:hover {
  color: #fff !important ;
}

.copyright {
  border-top: 1px solid #404040;
}
