.cards{
    padding: 10px 10px;
    overflow: hidden;
}


.card-img {
    width: 350px !important ;
    height: 266px !important ; 
}

.Cardo{
    margin: 6%;
    padding-bottom: 50px
}



.btn {
    margin-right: 15px;
    border-radius: 5px;
}


@media screen and (max-width: 767px) {
    .card-img{
        width: 420px  !important;
        height: 266px !important ;
    }

    .Cardo {
        /* margin: 2% */
    }

   
}