.cards{
    padding: 10px;
}



.card-img {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 442px;
    height: 266px;
    object-fit: fill;
    
} 



.cardo{
    margin: 6%;
    /* padding-bottom: 50px */
}



