.cards{
    padding: 10px;
}



.card-img {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 442px;
    height: 266px;
    object-fit: fill;
} 



.Cardo{
    margin: 6%;
    /* padding-bottom: 50px */
}



.btn {
    margin-right: 15px;
    border-radius: 5px;
}