
.About-sc {
    width: 100%;
    min-height: 60vh;
    padding: 60px 0;
} 




.About {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
   padding-top: 100px;
}  


.img-c {
    padding-top: 300px;
    /* margin-right: 8%; */
}

.About-img {
    width: 500px;
    height: 500px;
}


.A-info {
    margin-top: 15%;
    min-width: 200px;
}



.A-info h2 {
    font-weight: 800; 
    margin-bottom: 20px;
    font-size: 40px;
    padding-bottom: 70px;
    color: black;
}



.A-info p {
    font-size:1em;
    text-align: justify;
    font-weight: 600;
    color: black
} 




      /* query  */  
      
      
      @media  (max-width:1200px)  {
        
        .About {
            display: flex;
            flex-direction: column;
            text-align: center;
         }    
        

         .A-info h2 {
            font-weight: 800; 
            margin-bottom: 100px;
        } 



      }



                          