
.About-sc {
    width: 100%;
    min-height: 60vh;
    
} 



.About {
    min-width: 120%; 
    padding-top: 2%;   
}  

.img-c {
    padding-top: 15%;
    margin-right: 8%;
}


.A-info {
    margin-top: 15%;
    min-width: 200px;
}



.A-info h2 {
    font-weight: 800;
}



.A-info p {
    font-size:1em;
    text-align: justify;
    font-weight: 600;
    color: #777
} 





                          /* query  */  



                          