
/* work Sans */
@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;700&family=Work+Sans:ital,wght@0,500;1,100;1,200&display=swap');


/* start vareble */ 

:root {
  --main-color: #10cab7 ;
  --Sec-color : #0F1E3F;
}


/* start global rules  */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; 
  text-decoration: none;
 
}


body {
font-family: 'Work Sans', sans-serif;  
}

/* end global rules  */ 


