/* .Featchers {
  padding: 60px 0;
  min-height: 100vh;
}

.T-Featchers {
  text-align: center;
  color: black;
  font-size: 50px;
  font-weight: 800;
}

.feather-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 100px;
  padding-top: 100px;
  margin-left: 160px;
  /* margin-right: 0px; */
  


/* .col1,
.col2 {
  padding-top: 100px;
  padding-right: 100px;
  padding-left: 20px;
}

.feat {
  display: flex;
  margin-bottom: 40px;
}

.feat i {
  color: var(--main-color);
  flex-basis: 60px;
  font-size: 30px;
}

.Feat-text {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.Feat-text h4 {
  font-size: 20px;
  font-weight: 800;
  margin: 0 0 20px;

} 

.Feat-text p {
  color: #888;
  line-height: 1.8;
}

.Feat-image {
  text-align: center;
  position: relative;
}
 */




/* // _____________   QUERY________________________// */

/* @media (max-width: 1200px) {
  .Feat-image {
    display: none;
  }

  .feather-content {
    margin-top: 60px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    min-width: 50%;
    margin-right: 10px;
  }

  .feat {
    display: flex;
    margin-bottom: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 2px solid gray;
    max-width: 100%;
    flex-direction: column;
    padding: 20px;
  }

  .col1,
  .col2 {
    text-align: center;
  }
} */



/* @media (max-width: 600px) {
  .feat {
    padding: 10px;
    min-width: 50%;
    text-align: center;

  }

  .feather-content {
    padding-right: 5px;
    max-width: 10%;
  }

  .feat h4 {
    font-size: 20px;
  }
  
.T-Featchers {
  font-size: 30px;
}


  .Feat-text p {
    color: #888;
    line-height: 1;
    font-size: 20px;
  }
} */ 
