#contact {
  /* background-color: brown; */
  padding: 100px 0px;
}

.contact-title {
  font-size: 50px;
  color: #000;
  font-weight: 800;
  margin-bottom: 100px;
  /* letter-spacing: 3px; */
}

.contact-info h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #151515;
}

.contact-btn {
  border: 0;
  color: #151515;
  border-radius: 4px;
  font-weight: 500;
  padding: 10px 24px;
  font-size: 20px;
}
